<div layout="column" ng-controller="IndexController" flex class="mainpage">
    <header class="header">
        <md-toolbar md-scroll-shrink class="md-whiteframe-z3" class="toolbar" >
            <div class="md-toolbar-tools">
            <h3>
                <span>NoticeApp <md-icon aria-label="Menu" class="mi mi-keyboard-arrow-right"></md-icon> Home</span>
            </h3>
            </div>
        </md-toolbar>
    </header>
    <article class="Aligner" layout="column">
        <div flex class="Aligner-item">
            <h1>Simple Notice Service</h1>
            <p>Made with AngularJS 1.x.x, Gulp, Angular-Material</p>
            
            <div flex layout="row" class="Aligner-item">
                    <md-button flex="20" class="md-raised md-primary" ui-sref="login">Login</md-button>
                    <md-button flex="20" class="md-raised md-primary" ui-sref="signup">Sign up</md-button>
            </div>
            </div>

            
        
        
    </article>
</div>